
<ion-view title="Convite" id="page2" class="bg-light" hide-nav-bar="true" 
ng-controller="ConfirmaCtrl">
  <ion-content padding="true" class="has-header" has-header="false">
    <div id="confirmarPresenA-markdown9" class="show-list-numbers-and-dots">
  <div class="row">
    <div class="col col-100 ">
 <div id="confirmarPresenA-markdown9" class="show-list-numbers-and-dots">
  <h3>Sobre o envento</h3>
      <p class="f-16">Após 9 anos de "enrolação", as Camilas aqui resolveram oficializar a união.</p>
      <p class="f-16">Não faremos uma festa e nem nada chique, mas após o cartório, estaremos em um bar/restaurante com nossos pais e irmãos.</p>
      <p class="f-16">Vamos garantir umas cervejas e o bolo. Como não sabemos os gostos e restrições de cada um, a refeição ficará por conta e paladar de cada convidado.</p>
      <p> Pedimos apenas para confirmar a sua presença, para melhor recebê-los e não excedermos o espaço reservado! 
      </p>
    </div>
    </div>
  </div>
</div>



  <div class="row">
    <div class="col col-100 " >

      
   
    <h5 id="confirmarPresenA-heading6">Informe seu nome e de seus acompanhantes</h5>
<form action="https://docs.google.com/forms/d/e/1FAIpQLSfvXJF1M9OJFrGgu6sPMc9QTsZhduks5w2wrMt8JEHmbzeOQA/formResponse" target="_self" method="POST" id="mG61Hd">
    <label class="item item-input" id="confirmarPresenA-input8"  >
        <span class="input-label">Nome </span>
        <input type="text" placeholder=""  ng-model="nome1" name="entry.618988717" id="nome">
      </label>
      <label class="item item-input" id="confirmarPresenA-input8"  >
        <span class="input-label" >Acompanhante 1 </span>
        <input type="text" placeholder="" name="entry.1623376728" id="acompanhante1">
      </label>
      <label class="item item-input" id="confirmarPresenA-input9"  ">
        <span class="input-label" >Acompanhante 2</span>
        <input type="text" placeholder="" name="entry.1357139813" id="acompanhante2">
      </label>
      <label class="item item-input" id="confirmarPresenA-input10" >
        <span class="input-label">Acompanhante 3</span>
        <input type="text" placeholder="" name="entry.1924101444" id="acompanhante3">
      </label>
      <button  ng-click="postContactToGoogle()" class="button button-block gold-bt"> <i class="ion-paper-airplane"></i> Enviar</button>
    </form>  



   
 </div>
</div>
<!--
  <div class="row">
    <div class="col col-100 ">
   <a target="_blank" href="https://calendar.google.com/calendar/r/eventedit/M2g5c2RsNmc0NHBscWU5NGw0cGV1cXU3bHIgY2FidWthdGVyQG0?sf=true&output=xml" class="button button-block gold-bt"><i class="ion-clock"></i> Salvar na minha agenda</a>
</div>

  </div>-->
  </ion-content>

</ion-view>