<ion-view title="Confirmar Presença" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="confirmarPresenA-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">texto sobre a consumacçao
        <strong> jdshjhdsjdksdkmarkdown</strong>
        bdahdhjadjahsdsdm,a jdasjkdhjaskd dnmasjdakjdlkajdams,ndkajdamda bhajgdjha.</p>
    </div>
    <button id="confirmarPresenA-button5" class="button button-positive button-block">Conhecer o restaurante</button>
    <h5 id="confirmarPresenA-heading6" style="color:#000000;">Informe seu nome e de seus acompanhantes</h5>
    <form id="confirmarPresenA-form2" class="list">
      <label class="item item-input" id="confirmarPresenA-input7" name="nome1">
        <span class="input-label">Nome </span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="confirmarPresenA-input8" name="nome2">
        <span class="input-label">Nome </span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="confirmarPresenA-input9" name="nome3">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="confirmarPresenA-input10" name="Nome4">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="confirmarPresenA-button4" class="button button-positive button-block">Enviar</button>
    <a href-inappbrowser="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MmRwNjI0aDA2aTNjYWs0YWtzanNkMnJlcjQgY2FidWthdGVyQG0&amp;tmsrc=cabukater%40gmail.com" id="confirmarPresenA-button6" class="button button-positive button-block">Salvar na minha agenda</a>
  </ion-content>
</ion-view>