<ion-view title="Convite" id="page2" class="bg-light" hide-nav-bar="true">
  <ion-content padding="true" class="has-header" has-header="false">
    <div class="row">
      <div class="col center">
    <div class="cicle-image">
      <img src="img/F1LVuhn3R72qX82zS6cQ_DSC_0675.JPG" >
    </div>
  </div>
</div>
    <div class="row">
      <div class="col center">  

        <h4 id="convite-heading5"  class="gold-font center f-18">Casamento</h4>
       <h3 id="convite-heading4" class="black-font center m-b-5 f-20 bold">Camila &amp; Camila</h3>

  </div>
</div>
    <div class="row">
      <div class="col col-60 col-offset-20">
       
     
<h2 class="background center"><span>   <i class="icon ion-ios-calendar-outline "></i></span></h2>
      </div>
    </div>
    <div class="row">
    <div style="text-align:center;" class="center col">
      <p class="black-font center f-18 bold ">10 de Março de 2018</p>
    </div>
  </div>
   <div class="row">
      <div class="col col-60 col-offset-20">
       
     
<h2 class="background center"><span> 
        <i class="icon ion-ios-time-outline "></i>
 </span></h2>
      </div>
    </div>
        <div class="row">
    <div style="text-align:center;" class="center col">
      <p class="black-font center f-16 ">das 12:00 às 15:00</p>
    </div>
  </div>
    <div class="row">
      <div class="col col-60 col-offset-20">
       
     
<h2 class="background center"><span> 
        <i class="icon ion-ios-location-outline "></i>
</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col center">
          <p class="f-18 bold">
            <strong>The Garden</strong>
          </p>

          <p class="f-16"> Av. Engenheiro Luís Gomes <br>Cardim Sangirardi, 20 <br> Vila Mariana</p>
        </div>
      </div>

  </ion-content>
</ion-view>