<ion-view title="Convite" id="page2" class="bg-light" hide-nav-bar="true">
  <ion-content padding="true" class="has-header" has-header="false"  ng-controller="MapCtrl">


      <div id="map" data-tap-disabled="true"></div>

      <div class="row">
          <a id="confirmarPresenA-button5" class="button button-block gold-bt" href="http://thegarden.com.br/siteTG/" target="_blank"><i class="ion-wineglass"></i> Conhecer o restaurante</a>


     

       </div>

  <div class="row">

         <a id="confirmarPresenA-button4" class="button button-block bt-silver " href="https://www.google.com.br/maps/place/The+Garden/@-23.57899,-46.6314978,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce5979242bd76d:0x2bce4e2f55019de6!8m2!3d-23.57899!4d-46.6293091" target="_blank"><i class="ion-map"></i> Abrir Coordenadas</a>
       </div>
  <div class="row">
       <a id="confirmarPresenA-button4" class="button button-block gold-bt " href="https://api.whatsapp.com/send?phone=5511983999900" data-rel="external" target="_system"> <i class="ion-social-whatsapp-outline"></i> Fale com a gente</a>
              </div>
    </ion-content>
  
</ion-view>